.blogContent p {
  text-align: justify;
}
.cardDescription {
  text-align: justify;
}
.profileImageCircular {
  border-radius: 500rem;
}
.profileImageSmall {
  width: 60%;
  margin: auto;
}
.pageContent p {
  text-align: justify;
}
