.blogContent p {
  text-align: justify;
}
.cardDescription {
  text-align: justify;
}
.profileImageCircular {
  border-radius: 500rem;
}
.profileImageSmall {
  width: 60%;
  margin: auto;
}
.pageContent p {
  text-align: justify;
}
.iconLink {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.1s ease;
}
.iconLink:hover {
  opacity: 1;
}
.iconCircular {
  border-radius: 500em;
  box-shadow: inset 0 0 0 0.1em rgba(0, 0, 0, 0.1);
  height: 2em;
  line-height: 1;
  padding: 0.5em 0;
  width: 2em;
  margin: 0 0.25rem 0 0;
}

blockquote {
  border-left: 4px solid #007fff;
  font-size: 16px;
  line-height: 1.5;
  padding: 0em 2em;
  margin: 1em 0em 2em;
}
